{% extends "index.html" %}
{% load static %}
{% block title %}Message - QuizApp{% endblock title %}
{% block content %}


    <h1 class="display-4 text-center my-5">Message From @username</h1>

    <main>
        <div class="container col-md-8 col-sm-12">
            <article>
                <sub>From</sub>
                <p class="" title="click to see profile"><a href="#">@mark</a></p>
                <sub>Received At</sub>
                <p>12 Aug 2023</p>
                <sub>Subject</sub>
                <p>Some Random Subject</p>
                <sub>Message</sub>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut enim inventore alias necessitatibus id accusamus, fuga repellendus laborum fugit odio molestiae pariatur, maiores, deleniti eveniet! Debitis officiis totam possimus quibusdam.</p>
            </article>
        </div>
    </main>



{% endblock content%}