<div class="container-float">
    <footer class="py-5 my-4 bg-dark text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="mb-3">Quick Links</h2>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link text-light">Home</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-light">Features</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-light">Contact</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-light">FAQs</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-light">About</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-light">Feedback</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-12 text-center">
                <h3 class="mb-3">Connect With Us</h3>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-light"><i
                                class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="text-light"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="text-light"><i
                                class="fab fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>


        </div>

        <div class="text-center mt-4">
            <p class="text-light mb-0">&copy; 2023, QuizApp</p>
        </div>
    </footer>
</div>